#navigation {
	
	ul {
		list-style-type: none;
		margin: 0;
	}
	
	li {
		display: inline-block;
		
		a, a:link, a:visited, a:hover, a:active {
			display: block;
			padding: 0 15px;
			line-height: 1.7em;
			font-size: 1.5em;
			font-weight: bold;
			text-decoration: none;
			border-radius: 7px 7px 0 0;
		}
		
		a:hover {
			background: #367599;
		}
		
		&.selected {
			a, a:link, a:visited, a:hover, a:active {
				background: #444444;
			}
		}
	}
}

.modify-pages .delete-tab {
	display: block;
	margin: 0;
	padding: 0;
	top: -3px;
	right: -3px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	line-height: 8px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #333333;
	border-radius: 8px;
	background: #333333;
}