#breadcrumbs {
	.breadcrumb {
		margin: 0;
		padding: 7px 15px;
		background: #d1e4ef;
	}
	
	.breadcrumb > li > .divider {
	    color: #408bb6;
	    padding: 0 5px;
	}
	
	.breadcrumb .active {
	    font-weight: bold;
	}	
}