@import url(portlet-custom.css);

#wrapper .portlet-layout .portlet-boundary {
    margin: 0 0 1.5em;
}

#skip-to-content, #navigation h1 {
	position: absolute;
	clip: rect(0 0 0 0);
}

h1, h2, h3, h4, p {
	margin: 0 0 1em 0;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* --- round corners --- */
.portlet, .portlet-borderless-bar, .nav-account-controls, .nav-add-controls li, .lfr-icon-actions {
	border-radius: 7px;
	overflow: hidden;
}

.nav-account-controls {
	border-radius: 0 0 7px 7px
}