$maxWidth: 1000px;
$horizontalPadding: 2%;
$borderRadius: 5px;

$lightColor: #ffffff;
$lighterColor: #eeeeee;
$darkColor: #333333;
$darkerColor: #667070;
$darkerColorDarker: #495151;
$mainColor: #009cd6;
$mainColorDarker: #00709a;

@import "mixins";
@import url(portlet-custom.css);
@import url(navigation-custom.css);
@import url(dockbar-custom.css);
@import url(breadcrumbs.css);
@import url(links.css);

.aui body {
	padding: 0;
	line-height: 1.7em;
	background: $lightColor;
	color: $darkColor;
}

#wrapper .portlet-layout .portlet-boundary {
    margin: 0 0 1.5em;
}

#heading .site-name, #skip-to-content, #navigation h1 {
	position: absolute;
	clip: rect(0 0 0 0);
}

.aui h1, .aui h2, .aui h3, .aui h4, .aui p {
	margin: 0 0 1em 0;
}

.aui a, .aui a:link, .aui a:visited, .aui a:hover, .aui a:active {
	color: $mainColor;
}

#wrapper {
	padding: 0;
	margin: 0 auto;
	max-width: $maxWidth;
}

#heading {
	color: $darkerColor;
	padding: 15px 0;
	
	.site-title, .page-title {
		display: inline-block;
		margin: 0;
		vertical-align: bottom;
	}

	.site-title {
		max-width: 100%;
	}

	.site-title .logo {
		display: block;
		max-width: 100%;
		padding: 0 15px 0 0;
	}
	
	.page-title {
		font-size: 2.57em;
	}
}

#sign-in {
	position: absolute;
	top: 7px;
	right: 50%;
	margin: 0 -500px 0 0;
	padding: 0 0 0 21px;
	line-height: 1em;
	background: url(@theme_image_path@/common/key.png) no-repeat 0 50%;
}

#main-content {
	padding: 2em 0;
}

#footer {
	text-align: center;
}


@media (max-width: $maxWidth) {
	#heading, #main-content {
		padding-left: $horizontalPadding;
		padding-right: $horizontalPadding;
	}
	
	#navigation, #breadcrumbs {
		border-radius: 0;
	}
	
	#sign-in {
		right: $horizontalPadding;
		margin: 0;
	}
}
