.aui {
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin: 0;
	}

	.dockbar-split .dockbar .navbar-inner {
		position: fixed;
		z-index: 999;
		right: $horizontalPadding;
		width: auto;
		min-height: 0;
		background: $darkerColor;
		@include box-shadow(none);
		@include border-radius(0 0 $borderRadiusLarge $borderRadiusLarge);
		
		.btn-navbar {
			float: none;
			background: transparent;
			color: $lightColor;
			border-radius: $borderRadiusLarge;
			
			.user-avatar-image {
				width: 15px;
			}
		}
		
		.open .nav-navigation {
			display: none;
		}
		
		.nav-account-controls {
			right: $horizontalPadding;
			background: $lighterColor;
			@include border-radius(0 0 $borderRadiusLarge $borderRadiusLarge);
			@include box-shadow(0 3px 3px -3px #000000);
			
			& > li {
				background: transparent;
				
				& > a {
					padding: 0 15px;
					font-weight: bold;
				}
			}
		}

		.nav-add-controls {
			top: 13%;
		}
		
		.nav-add-controls > li > a {
			background: $darkerColor;
			border: 1px solid $darkColor;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		}
	}
}