@import "mixins";
@import "aui/mixins";
@import "aui_variables";
@import "algorythm_mixins";
@import "algorythm_variables";

.aui {
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin: 0;
	}

	.dockbar-split .dockbar .navbar-inner {
		position: fixed;
		z-index: 900;
		right: $horizontalPadding;
		width: auto;
		float: right;
		background: transparent;
		@include box-shadow(none);
		
		.btn-navbar {
			margin: 5px 0px 5px 10px;
			float: none;
			background: $gray;
			color: $lightColor;
			border-radius: $borderRadiusLarge;
			
			.user-avatar-image {
				width: 15px;
			}
		}
		
		.open .nav-navigation {
			display: none;
		}
		
		.nav-account-controls {
			right: $horizontalPadding;
			background: $gray;
			@include border-radius(0 0 $borderRadiusLarge $borderRadiusLarge);
			
			& > li {
				background: transparent;
				
				& > a {
					padding: 0 15px;
				}
			}
			
			.user-notifications-count {
				background: $linkColor;
			}
		}

		.nav-add-controls {
			top: 130px;
			
			& > li > a {
				background: $gray;
			}
		}
	}
}

@include respond-to(phone, tablet) {
	.aui .dockbar-split .dockbar .navbar-inner .nav-account-controls {
		@include speech-bubble(10px);
		padding: $borderRadiusLarge 0;
		
		ul {
			margin: 0;
		}
		
		li {
			a {
				padding: 3px 7px;
			}
			
			li a {
				padding: 3px 15px;
			}
			
			li li a {
				padding: 3px 30px;
			}
		}
		
		li.dropdown {
			.dropdown-toggle {
				color: $gray;
			}
			
			&.open > .dropdown-toggle {
				background: $gray;
			}
		}
		
		a {
			@include border-radius(0);
		}
	}
}