/* fixed webkit column width */
.aui-w1-3, .aui-w33, .webkit .aui-w1-3, .webkit .aui-w33 {
	width: 33.3333%;
}

/* use display:inline-block instead of table-cell for columns to make sure
   large content doesn't break the layout (see http://purecss.io) */ 
.portlet-layout {
	display: block;
	letter-spacing: -0.32em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}
.opera-only :-o-prefocus,
.portlet-layout {
    word-spacing: -0.43em;
}
.portlet-column {
	display: inline-block;
	*display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}
.portlet-column-only {
	width: 100%;
}
.portlet-column .portlet-boundary {
	margin: 0 0 1em 0;
}

/* scale images in containers */
[class*="aui-w"] img {
	max-width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    /* grid units fill whole width (use #wrapper to override browserspecific constraints) */
    #wrapper [class*="aui-w"] {
    	display: block;
    	width: 100%;
    }
    /* remove horizontal column padding if small viewport */
    .portlet-column-content {
    	padding: 5px 0;
    }
}