@import "mixins";
@import "compass";

#navigation {
	overflow: hidden;
	background-color: $darkerColor;
	@include background-image(linear-gradient($darkerColor 0%, $darkerColorLighter 47%, $darkerColorDarker 100%));
	@include border-radius($borderRadiusLarge);
	
	&.open {
		display: block;
		position: fixed;
		z-index: 900;
		top: 70px;
		right: $horizontalPadding;
		padding: $borderRadiusLarge 0;
		
		li {
			display: block;
			background: $lighterColor;
			
			a, a:link, a:visited, a:hover, a:active {
				color: $linkColor;
				text-shadow: none;
			}
		}
	}
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	li {
		display: inline-block;
		padding: 0.3em;
		
		a, a:link, a:visited, a:hover, a:active {
			display: block;
			padding: 0 15px;
			line-height: 1.3em;
			font-size: 1.5em;
			font-weight: bold;
			text-decoration: none;
			color: $lightColor;
			text-shadow: -1px -1px $darkerColor;
		}
		
		a:hover {
			color: $lightColor;
		}
		
		&.selected {
			background: $linkColor;
		
			a, a:link, a:visited, a:hover, a:active {
				color: $lightColor;
				text-shadow: none;
			}
		}
	}
}

.modify-pages .delete-tab {
	display: block;
	margin: 0;
	padding: 0;
	top: 1px;
	right: -3px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	font-size: 22px;
	font-weight: bold;
	line-height: 8px;
	text-align: center;
	text-shadow: none;
	color: #ffffff;
	border: 2px solid $lightColor;
	background: $darkerColor;
	@include border-radius(8px);
	@include box-shadow(0 3px 3px -3px #000000);
	
	&:hover {
		color: #dd0000;
		border-color: #dd0000;
	}
}

@media (max-width: 979px) {
	#navigation {
		display: none;
	}
}