@import "mixins";
@import "compass";

#navigation {
	background-color: $darkerColor;
	border-radius: $borderRadius $borderRadius 0 0;
	overflow: hidden;
	@include background-image(linear-gradient($darkerColor 0%, $darkerColor 47%, $darkerColorDarker 100%));
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	li {
		display: inline-block;
		padding: 0.3em;
		
		a, a:link, a:visited, a:hover, a:active {
			display: block;
			padding: 0 15px;
			line-height: 1.3em;
			font-size: 1.5em;
			font-weight: bold;
			text-decoration: none;
			color: $lighterColor;
		}
		
		a:hover {
			color: $lightColor;
		}
		
		&.selected {
			background: $mainColor;
			@include background-image(linear-gradient($mainColorDarker 0%, $mainColorDarker 47%, $mainColor 100%));
		
			a, a:link, a:visited, a:hover, a:active {
				color: $lightColor;
				text-shadow: -1px -1px $darkerColorDarker;
			}
		}
	}
}

.modify-pages .delete-tab {
	display: block;
	margin: 0;
	padding: 0;
	top: 1px;
	right: -3px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	font-size: 22px;
	font-weight: bold;
	line-height: 8px;
	text-align: center;
	text-shadow: none;
	color: #ffffff;
	border: 2px solid $lightColor;
	border-radius: 8px;
	background: $darkerColor;
	@include box-shadow(0 3px 3px -3px #000000);
	
	&:hover {
		color: #dd0000;
		border-color: #dd0000;
	}
}