@import "mixins";
@import "aui/mixins";
@import "aui_variables";
@import "algorythm_mixins";
@import "algorythm_variables";

#navigation {
	overflow: hidden;
	@include gradient-vertical-three-colors($gray, lighten($gray, 5%), 47%, darken($gray, 10%));
	@include border-radius($borderRadiusLarge);
	
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	li {
		display: inline-block;
		padding: 0.3em;
		
		a, a:link, a:visited, a:hover, a:active {
			display: block;
			padding: 0 15px;
			line-height: 1.3em;
			font-size: 1.5em;
			font-weight: bold;
			text-decoration: none;
			color: $lightColor;
			text-shadow: -1px -1px $gray;
		}
		
		a:hover {
			color: $lightColor;
		}
		
		&.selected {
			background: $linkColor;
		
			a, a:link, a:visited, a:hover, a:active {
				color: $lightColor;
				text-shadow: none;
			}
		}
	}
}

@include respond-to(phone, tablet) {
	#navigation {
		max-height: 0;
		padding: 0 $horizontalPadding;
		text-align: center;
		background: transparent;
		@include opacity(0);
		@include transition(max-height 0.3s ease 0.2s, padding 0.3s ease 0.2s, opacity 0.3s ease);
		
		&.open {
			@include opacity(100);
			max-height: 270px;
			padding: 7px $horizontalPadding;
			@include transition(max-height 0.3s ease, opacity 0.3s ease 0.2s);
		}
		
		& > ul {
			display: inline-block;
			text-align: left;
			
			li {
				display: block;
				
				&.selected {
					@include border-radius($borderRadiusLarge);
				}
			}
		}
	}
}

.modify-pages .delete-tab {
	display: block;
	margin: 0;
	padding: 0;
	top: 1px;
	right: -3px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	font-size: 22px;
	font-weight: bold;
	line-height: 8px;
	text-align: center;
	text-shadow: none;
	color: #ffffff;
	border: 2px solid $lightColor;
	background: $gray;
	@include border-radius(8px);
	@include box-shadow(0 3px 3px -3px #000000);
	
	&:hover {
		color: #dd0000;
		border-color: #dd0000;
	}
}