@import "aui/mixins";
@import "aui_variables";

$portletBorderColor: lighten($gray, 43%);

#wrapper {
	.portlet {
		border: 1px solid $portletBorderColor;
	}
	
	.portlet-topper {
		background: $portletBorderColor;
		color: $white;
	}
	
	.portlet-title {
		font-size: 1.3em;
		line-height: 1.3em;
		margin: 0;
		padding: 3px;
		
		img {
			padding: 0 7px 0 0;
		}
	}
}

.portlet, .portlet-borderless-bar, .portlet-content .lfr-icon-actions {
	overflow: hidden;
	@include border-radius($borderRadiusLarge);
}

.portlet-borderless-bar, .portlet-content .lfr-icon-actions {
	background: $gray;
}

.signed-out .portlet-borderless-bar {
	display: none;
}