@import "mixins";
@import "aui_variables";
@import "algorythm_variables";

.aui body {
	padding: 0;
}

#wrapper .portlet-layout .portlet-boundary {
    margin: 0 0 1.5em;
}

#heading .site-name, #skip-to-content, #navigation h1 {
	position: absolute;
	clip: rect(0 0 0 0);
}

.aui h1, .aui h2, .aui h3, .aui h4, .aui p {
	margin: 0 0 1em 0;
}

.aui p {
	line-height: 1.7em;
}

#wrapper {
	margin: 0 $horizontalPadding;
	padding: 0;
}

.signed-in #wrapper {
    margin: 0 $horizontalPadding 0 63px;
    @include respond-to(phone, tablet) {
		margin: 0 $horizontalPadding;
	}
}

#main-content {
	padding: 2em 0;
}

#footer {
	padding: 0 0 1em 0;
	text-align: center;
}
